body {
      background-color: black;
      color: white;
      text-align: center;
      font-family: 'Libre Baskerville', serif;
    }
.container {
      width: 100% ;
      margin-left: 25px; 
      margin-top:100px;
    }
    img{
      width:50%;
      border:15px solid white;
    }
    h1 {
    
      margin-top: 20px;
    }
    p{
      margin-top: 20px;
    }