#red {
    color: red;
}
#blue {
    color: blue;
}
#green {
    color: green;
}
#yellow {
    color: yellow;
}
#orange {
    color: orange;
}

.color-title {
    font-weight: normal;
}

img{
    height:200px;
    width:200px;
}