/* Write your code here: */
h1,h2 {
    color: blue;
}
p,div {
    background-color: lightgray;
}
span,a {
    font-weight: bold;
}
li,ul {
    margin-left: 20px;
}
table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
}